.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #250c23;
}

.header-content {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.photo-header {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.logo2 {
  width: 30px;
  margin-left: 60px;
}

.logo1 {
  width: 140px;
}
