.form-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.photo {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.form {
  display: flex;
  flex-direction: column;
}

.text-area {
  width: 350px;
  height: 110px;
}

.post-button {
  width: 60px;
  height: 20px;
}
